entrypoint = "README.md"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "npm run server:build && npm run expo:static:build"]
run = ["node", "server_dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["javascript_database:1.0.0"]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start dev servers"

[[workflows.workflow]]
name = "Start dev servers"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run all:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyBn6eDmLMlHsHeMKiQy2YX__wD-EYBt8MU"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "servija-34e26.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "servija-34e26"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "servija-34e26.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "128919998450"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:128919998450:web:7bbcb68443a5ccbc3ce56b"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-VDH1STKTNK"

